
@font-face {
	font-family: 'moon';
	src: url('../fonts/hypernuit-moon/hypernuit-moon.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'Dinish';
	src: url('../fonts/Dinish/Dinish-Regular.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'Dinish';
	src: url('../fonts/Dinish/Dinish-Bold.otf');
	font-weight: bold;
}

@font-face {
	font-family: 'IBM';
	src: url('../fonts/IBM/IBMPlexSerif-Regular.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'IBM';
	src: url('../fonts/IBM/IBMPlexSerif-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'Hershey-Noailles-Futura-bold';
	src: url('../fonts/hershey-noailles/Hershey-Noailles-Futura-Simplex-Bold.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'Hershey-Noailles-Futura-normal';
	src: url('../fonts/hershey-noailles/Hershey-Noailles-Futura-Simplex-Regular.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'Selectric';
	src: url('../fonts/selectric/SelectricMono.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'adelphe';
	src: url('../fonts/adelphe/Adelphe-FructidorRegular.woff');
	font-weight: normal;
}
@font-face {
	font-family: 'authentic';
	src: url('../fonts/authentic/AUTHENTICSans-90.woff');
	font-weight: normal;
}
