@keyframes screening {
  0% {left:0px; top:0px;}
  25% {left:2px; top:0px;}
  50% {left:2px; top:2px;}
  75% {left:0px; top:2px;}
  100% {left:0px; top:0px;}
}

@keyframes people {
  0% {right:0px; top:0px;}
  25% {right:100px; top:0px;}
  50% {right:200px; top:0px;}
  75% {right:100px; top:0px;}
  100% {right:0px; top:0px;}
}

  @keyframes peopleResp {
    0% {right:0px; top:0px;}
    25% {right:30px; top:0px;}
    50% {right:60px; top:0px;}
    75% {right:30px; top:0px;}
    100% {right:0px; top:0px;}
  }

@keyframes atelier {
  0% {left:0px; top:0px;}
  50% {left:200px; top:200px;}
  100% {left:0px; top:0px;}
}

@keyframes sound {
	0% {
		width: 1%;
		height: 300px;
	}
	50% {
		width: 70%;
		height: 300px;
	}
	100% {
		width: 1%;
		height: 300px;
	}
}

@keyframes film-install {
	0% {
		width: 80%;
		height: 100px;
	}
	50% {
		width: 80%;
		height: 500px;
	}
	100% {
		width: 80%;
		height: 100px;
	}
}

  /* @keyframes film-installResp {
    0% {
      width: 100%;
      height: 100px;
    }
    50% {
      width: 100%;
      height: 500px;
    }
    100% {
      width: 100%;
      height: 100px;
    }
  } */

/* @keyframes gradient{
	0% {
		transform: scale(1);
		filter: blur(0px) brightness(80%);
	}
	50% {
		transform: scale(.6);
		filter: blur(2px) brightness(80%);
	}
	100% {
		transform: scale(1);
		filter: blur(0px) brightness(80%);
	}
} */
