:root {
  --color-screenings: rgba(24,0,255,1);
  --screenings-bg-pl: rgba(24,0,255,0.00);
}

body{
  background-color: white;
}

/* .medusa{
  width: 60%;
  height:400px;
  filter: grayscale(100%);
  border-radius: 50%;
  background-size: cover;
  padding: 20px;
  display: none;
} */

.content{
  display: flex;
}

.images{
  width: 60%;
	height: 360px;
	background:
    -webkit-radial-gradient(
          50% 50%,
          150% 150%,
          var(--color-screenings) 0%,
          var(--screenings-bg-pl) 60%
  	),
    url('images/medusa.png');
  background-size: 100% auto;
  border-radius: 50%;
  /* display: none; */
}

.noise1{
  width: 40%;
	height: 69px;
	background: -webkit-radial-gradient(
        50% 50%,
        100% 100%,
        blue 0%,
        var(--screenings-bg-pl) 60%
	),
  url('images/noise1.svg');
  /* background-size: 100% auto; */
  filter: contrast(170%) brightness(1000%);
  /* display: none; */
}

.noise2{
  width: 500px;
	height: 800px;
	background: -webkit-radial-gradient(
        50% 50%,
        100% 100%,
        blue 0%,
        var(--screenings-bg-pl) 60%
	),
  url('images/noise2.svg');
  /* background-size: 100% auto; */
  filter: contrast(170%) brightness(1000%);
}
