body {
  width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
}

p {
  font-size: 42px;
}

#colonne1 > p {
  color: #70a090ff;
  font-family: 'TruenoLatin';

}

#colonne2 > p  {
  color: #3c88b9ff;
  font-family: 'TruenoRegular';

}

#colonne3 > p  {
  color: #2777b7ff;
  font-family: 'TruenoBold';
}

#colonne4 > p  {
  color: #666facff;
  font-family: 'TruenoBlack';
}

.colonnes {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.colonnes > section {
  width: 24.8%;
}

.colonnes > section > div{
 border: 0.05px solid white;
}

/* COLONNE 1 */
#colonne1 > div:nth-of-type(1) {
  background: linear-gradient(#bdd9dbff, #9dcbcfff);
  height:135px;
}

#colonne1 > div:nth-of-type(2) {
  background: linear-gradient(#9dcbcfff, #8bc2c5ff);
  height:135px;
}

#colonne1 > div:nth-of-type(3) {
  background: linear-gradient(#8bc2c5ff, #83b7baff);
  height:135px;
}

#colonne1 > div:nth-of-type(4) {
  background: linear-gradient(#83b7baff, #78aaa5ff);
  height:135px;
}

#colonne1 > div:nth-of-type(5) {
  background: linear-gradient(#78aaa5ff, #70a090ff);
  height:135px;
}

/* COLONNE 2 */
#colonne2 > div:nth-of-type(1) {
  background: linear-gradient(#a1d8eaff, #87c7dbff);
  height:135px;
}

#colonne2 > div:nth-of-type(2) {
  background: linear-gradient(#87c7dbff, #77b9cfff);
  height:135px;
}

#colonne2 > div:nth-of-type(3) {
  background: linear-gradient(#77b9cfff, #6bb0cbff);
  height:135px;
}

#colonne2 > div:nth-of-type(4) {
  background: linear-gradient(#6bb0cbff, #5ea2c4ff);
  height:135px;
}

#colonne2 > div:nth-of-type(5) {
  background: linear-gradient(#5ea2c4ff, #3c88b9ff);
  height:135px;
}

/* COLONNE 3 */
#colonne3 > div:nth-of-type(1) {
  background: linear-gradient(#a3d5ffff, #88c6f3ff);
  height:135px;
}

#colonne3 > div:nth-of-type(2) {
  background: linear-gradient(#88c6f3ff, #70b3e0ff);
  height:135px;
}

#colonne3 > div:nth-of-type(3) {
  background: linear-gradient(#70b3e0ff, #5ea4d7ff);
  height:135px;
}

#colonne3 > div:nth-of-type(4) {
  background: linear-gradient(#5ea4d7ff, #5294ccff);
  height:135px;
}

#colonne3 > div:nth-of-type(5) {
  background: linear-gradient(#5294ccff, #2777b7ff);
  height:135px;
}

/* COLONNE 4 */
#colonne4 > div:nth-of-type(1) {
  background: linear-gradient(#bbcfffff, #acc2ffff);
  height:135px;
}

#colonne4 > div:nth-of-type(2) {
  background: linear-gradient(#acc2ffff, #97a9e4ff);
  height:135px;
}

#colonne4 > div:nth-of-type(3) {
  background: linear-gradient(#97a9e4ff, #9198e5ff);
  height:135px;
}

#colonne4 > div:nth-of-type(4) {
  background: linear-gradient(#9198e5ff, #7e85cbff);
  height:135px;
}

#colonne4 > div:nth-of-type(5) {
  background: linear-gradient(#7e85cbff, #666facff);
  height:135px;
}

.fusion {
  /* width: 100px;
  height: 100px; */
  mix-blend-mode: screen;
  position: absolute;
}

img {
 /* height: 100%; */
 width: 100%;
}

.background {
  background-color: #bdd9dbff;
}

.isolate {
  isolation: isolate; /* Without isolation, the background color will be taken into account */
  position: relative;
}

/* img {
  mix-blend-mode: multiply;
  background-color: #bdd9dbff;
  width: 100%;
  height: 100%;
} */

/* #colonne1 > div {
  height: 100vh;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/northernlights.jpg);
} */

/* .background::after {
  content:"";
  position: absolute;
  width:200vw;
  height: 200vh;
  left: -50%;
  top: -50%;
} */


/* ///////////// TEST 1 /////////////// */

/* .degrade {
  position: relative;
  left: 85%;
}

.degrade > div {
  width:15%;

}

#un {
  background: linear-gradient(#e66465, #9198e5);
  height:150px;
}

#deux {
  background: linear-gradient(#e66465, #9198e5);
  height:450px;
}

#trois {
  background: linear-gradient(#e66465, #9198e5);
  height:30px;
}

#quatre {
  background: linear-gradient(#e66465, #9198e5);
  height:900px;
} */
